.homePageContainer {
   background-color: white;
    color: #333; /* Dark text for better readability */
    margin: 0;
    padding: 0;
  
  }
  
  /* You can add more global layout styles here if needed */
